@tailwind base;
@tailwind components;
@tailwind utilities;

.home-landing {
  position: relative;
  width: 100%;
  height: 90vh;
}

.home-landing .header-txt {
  font-size: 90px;
  font-weight: 600;
  color: black;
}

.home-landing .sub-txt {
  font-size: 25px;
  font-weight: 300;
}

.home-landing .sub {
  position: relative;
}

.home-landing .btn-random {
  width: 100%;
  max-width: 300px;
}

.home-landing .btn-sendbrief {
  margin-top: 10px;
  display: block;
  padding: 10px 30px;
  color: var(--primary-btn-color);
  font-size: 24px;
}

.home-landing .btn-sendbrief:hover {
  text-decoration: underline;
}

.home-landing .arrow-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(-50%);
  color: var(--primary-btn-color);
  font-size: 25px;
}

.home-container {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

.home-article .article-list {
  width: 100%;
}

.home-article .article-list .item {
  margin-bottom: 21px;
  display: flex;
  width: 100%;
  height: 236px;
  border: 1px solid #CBCBCB;
  border-radius: 15px;
  overflow: hidden;
  transition-duration: .25s;
}

.home-article .article-list .item:hover {
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.25);
}

.home-article .article-list .item .img {
  width: 50%;
  height: 100%;
  background-color: #ccc;
}

.home-article .article-list .item .content {
  position: relative;
  width: 50%;
  height: 100%;
  text-align: left;
}

.home-article .article-list .item .content .title {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  white-space: nowrap;
  text-align: left;
}

.home-article .article-list .item .content .desc {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  white-space: nowrap;
  text-align: left;
}

.features-box {
  display: flex;
  flex-wrap: wrap;
}

.features-box .box {
  width: calc(50% - 10px);
}

.features-box > .box + .box {
  margin-left: 20px;
}

.features-box .box .card {
  position: relative;
  margin-bottom: 20px;
  padding: 39px;
  width: 100%;
  text-align: left;
  background: #F9F9F9;
  border-radius: 15px;
}

.features-box .box .card .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.features-box .box .card .desc {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  white-space: pre-line;
}