@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-btn-color: rgba(123, 77, 156, 1);
}

html, body {
  font-family: 'Prompt', sans-serif;
}

.btn {
  padding: 10px 30px;
  background-color: #F9F9F9;
  border-radius: 10px;
  font-size: 25px;
  transition: .25s;
  border: solid 2px;
  border-color: #c7c7c7;
}

.btn:hover {
  background-color: #dddddd;
  transition: .25s;
}

.btn:active {
  background-color: #c7c7c7;
  transform: scale(0.9);
  transition: .25s;
}

.btn.primary {
  background-color: var(--primary-btn-color);
  color: white;
  border: none;
  animation: ease;
  transition: 0.3s;
}

.btn.primary:hover {
  background-color: #AE79D4;
  transform: scale(1.1);
  animation: ease;
  transition: 0.3s;
}

.btn.primary:active {
  background-color: rgb(121, 53, 170);
  transform: scale(1);
  animation: ease;
  transition: 0.3s;
}

.topic {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

.centerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #CBCBCB;
  margin: 20px 0;
}

.col-2, .col-3 {
  display: flex;
}

.col-2 .col {
  width: 50%;
}

.col-3 .col {
  width: 33.33%;
}

.toggle-menu-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .col-2 .col {
    width: 100%;
  }

  .col-3 .col {
    width: 100%;
  }

  .topic {
    padding: 0 20px;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    padding-top: 50px;
    width: 80%;
    height: 100%;
    background-color: #fff;
    display: block !important;
    text-align: center;
    box-shadow: 0px -10px 20px -8px rgba(0, 0, 0, 0.25);
    transition-duration: .25s;
  }

  .nav-menu.active {
    right: 0%;
  }

  .toggle-menu-btn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    padding: 13px;
    font-size: 20px;
    outline: 0;
  }
}